@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: sans-serif;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.pagination li a {
  cursor: pointer;
  color: #38bdf8;
  float: left;
  padding: 3px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #38bdf8;
  margin: 0 4px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.pagination li a:hover {
  color: white;
  background-color: #38bdf8;
}

.loader {
  text-align: center;
  animation: loading 2s linear infinite;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 30px;
}

.loader-container {
  padding-top: 120px;
  text-align: center;
}

.loader-container1 {
  padding-top: 50px;
  padding-bottom: 130px;
  text-align: center;
}

/* Bounce animation */
.bouncing-text {
  position: relative;
  display: flex;
  font-size: 40px;
  font-family: arial black;
}
.b,
.o,
.u,
.n,
.c,
.e {
  color: #4cc9f0;
  text-shadow:
    0 3px #4361ee,
    0 5px #4361ee,
    0 7px #4361ee;
}

.e,
.c {
  color: #374151;
  text-shadow:
    0 3px #374151,
    0 5px #374151,
    0 7px #374151;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.b {
  animation: bounce 1s ease infinite;
}

.o {
  animation: bounce 1s ease infinite 0.1s;
}

.u {
  animation: bounce 1s ease infinite 0.2s;
}

.n {
  animation: bounce 1s ease infinite 0.3s;
}

.c {
  animation: bounce 1s ease infinite 0.4s;
}

.e {
  animation: bounce 1s ease infinite 0.5s;
}

@keyframes scale {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.4);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Bounce animation */

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 869px) {
  .pagination {
    display: block;
  }
  .main-pagination {
    display: block;
    margin-top: 50px;
    margin-bottom: 130px;
    padding-bottom: 100px;
  }
}

svg {
  display: inline;
}
